.footer {
    color: white;
    background-color: #333f48;
    text-transform: uppercase;
    width: 100%;

    .footer-section {
        padding: 30px;
        display: flex;
        flex-direction: column; 
        
        .divider {
            background-color: #a0a0a0;
            height: 5px;
            width: 55px;
            border: 1px solid #a0a0a0;
            align-self: flex-start;
            position: relative;
            left: 10px;
            margin: 10px;
        }
    }

    .contact-us {
        span {
            margin: 20px 0 0;
        }
    }

    .form-input-section {
        margin: 0;
        width: 100%;
        margin: 20px 0;
    }

    .custom-button {
        width: 100px;
    }

    .pages {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .large-divider {
        width: 90%;
        background-color: #a0a0a0;
        border: .5px solid  #a0a0a0;
        margin: 10px;
        position: relative;
        right: 5%;
    }

    .option {
        color: white;
        text-decoration: none;
    }

    .icon {
        height: 50px;
        width: 50px;
    }

    .info-container {
        position: relative;
        margin-top: 15px;
    }

    .info {
        position: absolute;
        margin-left: 10px;

    }
}