.navbar {
  width: 100%;
  padding: 0px 70px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  font-size: 18px;
  background-color: #333f48;
  color: white;
  z-index: 100;
  margin-bottom: 70px;

  .logo-container {
    width: 2%;

    .logo {
      width: 100%;
    }
  }


  .options {
    width: 68%;
    display: flex;
    justify-content: flex-end;

    .option {
      padding: 0 15px;
      text-decoration: none;
      color: white;
    }
  }

  .login {
    position: relative;
    top: 10px;
  }

  .join {
    .custom-button {
      font-size: medium;
      text-transform: none;
      width: 10px;
    }
  }

  .mobile-join-option {
    margin-top: 15px;
  }

  .selected {
    color: #7a9c59;
  }
}